<div class="modal fade" id="modal-failure" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-white">
            <div class="modal-body shadow">
                <div class="d-flex flex-column text-center p-2" style="font-size: 3rem">
                    <i class="fa fa-exclamation-circle mt-5" style="font-size: 10rem; color: rgb( 246, 94, 56 )"></i>
                    <p><b>Submission Failure</b></p>
                </div>
            </div>
        </div>
    </div>
</div>