<html>
    <head>
        <title>Subscribers</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="<%= process.env.BASE_URL %>/public/theme/css/main.min.css"/>

    </head>
    <body>
        <section class="section-table-subscribers">
            <table class="table" id="table-subscribers">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone Number</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>