<html>
    <head>
        <title>Subscribers</title>

        <%- include('../master/header') %>

    </head>
    <body>
        <section class="section-table-subscribers">
            <h1>List Subscribers</h1>
            <table class="table table-subscribers mt-4 mb-4 fade-in" id="table-subscribers">
                <thead>
                    <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone Number</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone Number</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone Number</td>
                    </tr>
                </tbody>
            </table>
            <div>&nbsp;</div>
        </section>

        <%- include('../master/footer') %>
        <%- include('./post-script') %>
    </body>
</html>