<html>
    <head>
        <title>Subscribers</title>

        <%- include('../master/header') %>

    </head>
    <body>
        <section class="section-table-subscribers">
            <h1>List Subscribers</h1>
            <div class="table-subscribers" id="table-subscribers">
                <div class="table-row table-row--header">
                    <div class="table-cell table-cell--order">#</div>
                    <div class="table-cell table-cell--image">Image</div>
                    <div class="table-cell table-cell--name">Name</div>
                    <div class="table-cell table-cell--email">Email</div>
                    <div class="table-cell table-cell--phone-number">Phone Number</div>
                </div>
            </div>
        </section>

        <%- include('../master/footer') %>
        <%- include('./post-script') %>
    </body>
</html>