<script>
$(document).ready( function() {
    for( let i = 0 ; i < 100 ; i++ ) {
        $('#table-subscribers tbody').append(
            '<tr> \
                <td>'+ i +'</td>\
                <td>\
                    <img/> \
                </td>\
                <td>#</td>\
                <td>#</td>\
                <td>#</td>\
            </tr>'
        );
    }
});
</script>