<script>
$(document).ready( function() {

    $.ajax({
        url: '<%= process.env.BASE_URL %>/api/subscribers',
        type: 'GET',
        success: function (data) {
            console.log(JSON.stringify(data));
            if( data.success ) {
                if( data.subscribers && data.subscribers.length > 0 ) {
                    const subscribers = data.subscribers;
                    
                    let waitingTime = 200;
                    const deltaTime = 200;

                    for ( let index in subscribers ) {
                        setTimeout(() => {
                            let subscriber = subscribers[index];
                            $('#table-subscribers').append(
                                ' \
                                <div class="table-row fade-in"> \
                                    <div class="table-cell table-cell--order">' + (+index + 1) + '</div> \
                                    <div class="table-cell table-cell--image"><img src="' + subscriber.imageUrl + '"></div> \
                                    <div class="table-cell table-cell--name">' + subscriber.name + '</div> \
                                    <div class="table-cell table-cell--email">' + subscriber.email + '</div> \
                                    <div class="table-cell table-cell--phone-number">' + subscriber.phoneNumber + '</div> \
                                </div> \
                                '
                            );
                        }, waitingTime);

                        waitingTime += deltaTime;
                    }
                }
                else {
                    $('#table-subscribers').append('<p class="text-center mt-5">No subscriber found</p>');
                }
            }
        },
        error: function(req, status, error ) {

        }
    });
});
</script>