.section-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow: hidden;

    .introduce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: 420px;
        height: 400px;

        color: gray;
        font-size: 1.2rem;

        margin-right: 20px;
        padding-right: 40px;

        h1 {
            font-size: 3rem;
        }
    }

    @include phone-portrait {
        flex-direction: column;

        .introduce {
            flex-direction: column;

            text-align: center;
    
            width: 100%;
            height: auto;
    
            font-size: 1.0rem;
    
            margin-right: 0;
            padding-right: 0;
    
            h1 {
                width: 100%;

                margin-bottom: 40px;

                font-size: 2rem;
                text-align: center;
            }

            p {
                display: none;
            }
        }
    }
}