.btn-submit {
    @extend .btn;

    background-image: linear-gradient( 90deg, $primary-color 0, $secondary-color 51%, $primary-color );

    border: none;
    
    color: white !important;

    box-shadow: 0 4px 12px 0 rgba( $primary-color, 0.4 );

    padding: 10px 0;
    margin-bottom: 10px;
}