.form-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
    height: auto;
    
    padding: 20px;

    color: gray;

    font-size: 1.3rem;

    & * + * {
        margin-top: 5px;
    }

    & img {
        background-image: url('../images/image-placeholder-350x350.png');
        background-size: contain;
    }

    & .form-control {
        color: inherit;
        font-size: inherit;
    }

    & .btn {
        font-size: inherit;

        &-submit {
            margin-top: 20px;
        }
    }
}