.form-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
    height: auto;
    
    padding: 30px;

    color: gray;

    font-size: 1.3rem;

    box-shadow: 0 4px 12px 0 rgba( gray, 0.4 );

    .form-control {
        color: inherit;
        font-size: inherit;
    }

    .form-group + .form-group {
        margin-top: 10px;
    }

    .btn {
        font-size: inherit;

        &-submit {
            margin-top: 20px;
        }
    }

    textarea {
        resize: none;
    }

    @include phone-portrait {
        width: 90vw;

        padding: 0;

        box-shadow: none;
    }
}