.table-subscribers {
    max-width: 90%;

    font-size: 1.1rem;

    border-radius: 10px;

    padding: 10px;

    thead {
        th {
            border-top: none;
            border-bottom: 1px dotted $primary-color;
        }
    }

    tbody {
        td {
            border-top: none;
        }
    }
    
}